# avst-app - Adaptavist Application - Elasticsearch Service for Bitbucket Server
#
# By default these are in: /opt/<instance name>

[Unit]
Description="Elasticsearch Instance for Bitbucket Server"
After=syslog.target network.target

[Service]
User=<INSTANCE_USER>
Group=<INSTANCE_GROUP>
Type=forking
<ENV_PATH_CONF>
PIDFile=<SEARCH_HOME_DIR>/<SEARCH_APPLICATION>.pid
ExecStart=<SEARCH_BIN_DIR>/<SEARCH_APPLICATION> -d -p <SEARCH_HOME_DIR>/<SEARCH_APPLICATION>.pid <CONFIG_ARG_PATH_CONF> -<CONFIG_ARG>path.logs=<SEARCH_LOG_DIR> -<CONFIG_ARG>path.data=<SEARCH_HOME_DIR>/data
ExecStop=/usr/bin/kill -15 $MAINPID
ExecStopPost=/bin/sleep 5
Restart=always
LimitNOFILE=<MAX_OPEN_FILES>
 
[Install]
WantedBy=multi-user.target
