# avst-app - Adaptavist Application - Services

[Unit]
Description=SonarQube service
After=syslog.target network.target

[Service]
Type=forking

ExecStart=<WRAPPER_DIR>/sonar.sh start
ExecStop=<WRAPPER_DIR>/sonar.sh stop

User=<INSTANCE_USER>
Group=<INSTANCE_GROUP>
Restart=always

LimitNOFILE=<MAX_OPEN_FILES>
LimitNPROC=<MAX_NPROC>

[Install]
WantedBy=multi-user.target