# avst-app - Adaptavist Application - Services

[Unit]

Description=SonarQube (<INSTANCE>)
After=syslog.target network.target

[Service]
Type=simple
User=<INSTANCE_USER>
Group=<INSTANCE_GROUP>
#PermissionsStartOnly=true
ExecStart=/usr/bin/avst-app <INSTANCE> start
#ExecStop=/usr/bin/avst-app <INSTANCE> stop
#ExecReload=<WRAPPER_DIR>/sonar.sh restart
ExecStop=/usr/bin/pkill -15 -P $MAINPID
ExecStopPost=/bin/sleep 5
PIDFile=<WRAPPER_DIR>/./SonarQube.pid
Restart=always
LimitNOFILE=<MAX_OPEN_FILES>
LimitNPROC=<MAX_NPROC>
TimeoutStartSec=5

[Install]
WantedBy=multi-user.target

[Service]

StandardOutput=syslog


[Install]
WantedBy=multi-user.target