# avst-app - Adaptavist Application - Services
#
# By default these are in: /opt/<instance name>

[Unit]
Description="Avst-app Instance (<INSTANCE>)"
After=syslog.target network.target <SEARCH_TARGET>
<REQUIRE_SEARCH_SERVICE>

[Service]
Type=simple
ExecStart=/usr/bin/avst-app <INSTANCE> start 
ExecStop=/usr/bin/pkill -15 -P $MAINPID
ExecStopPost=/bin/sleep 5
Restart=always
LimitNOFILE=<MAX_OPEN_FILES>
 
[Install]
WantedBy=multi-user.target
